body {
	font-family: Arial;
	font-size: .9em;
	margin: 0;
	padding: 0;
	background-color: #f4f5f8;
}

h2 {
	font-weight: 500;
}

input {
	border: 1px solid #ccc;
	border-radius: 3px;
	padding: 7px;
	width: 250px;
	background-color: #fff;
	color: #191919;
}

input[type=submit] {
	transition: all 0.3s ease 0s;
}

input[type=submit]:focus, input[type=submit]:hover {
	background-color: #48cfad;
	outline: none;
	border: 1px solid #45c3a3;
}

input[type="radio"] {
	width: 15px;
}

span.btn.theme-color:hover {
	background-color: #48cfad;
	outline: none;
	border: 1px solid #45c3a3;
}

textarea:focus, input[type=text]:focus, input[type=password]:focus {
	outline: none;
	border: 1px solid #48cfad;
	-moz-box-shadow: 0 0 0 1000px #fff inset;
	box-shadow: 0 0 0 1000px #fff inset;
}

textarea {
	padding: 10px 8px;
	width: 100%;
	background-color: #fff;
	color: #191919;
	border: 1px solid #ccc;
	border-radius: 3px;
	box-sizing: border-box;
}

.inline-block {
	display: inline-block;
}

div.display-block {
	display: block;
}

a {
	text-decoration: none;
}

.text-right {
	text-align: right;
}

.text-left {
	text-align: left;
}

.float-left {
	float: left;
}

.float-right {
	float: right;
}

.float-clear {
	clear: both;
}

.text-center {
	text-align: center;
}

.margin-zero-auto {
	margin: 0 auto;
}

.btn {
	padding: 10px 30px 10px 30px;
	cursor: pointer;
	color: #282B2D;
	border: 1px solid;
	border-color: #0cb1f5;
	text-decoration: none;
	margin-right: 4px;
	text-align: center;
	border-radius: 3px;
}

.theme-color {
	background-color: #0cb1f5;
	color: #f5f7fa;
}

/*** filter above table styles starts *************/
.filter-container {
	margin: 20px 0;
}

.filter-container select {
	padding: 5px;
	width: 178px;
}

.filter-container input[type=date] {
	padding: 4px;
}

.filter-keyword {
	padding: 10px 0;
	color: #666;
	font-size: 1.2em;
	font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode",
		"Lucida Sans", Tahoma, sans-serif;
}
/*** filter above table styles ends *************/
.no-records {
	margin: 20px 0px;
	padding: 0 20px;
	height: 400px;
	font-size: 1.5em;
	color: #666666;
	background: #FFF;
	border: 1px solid #eceef1;
	border-radius: 3px;
}
/** looks like .search is used in filter, verify it and rename style to filter */
.search {
	float: left;
	margin-top: 10px;
}

.required:before {
	color: red;
	content: '*';
	margin: 0 3px;
}

.select2-container--default .select2-selection--multiple {
	border: 1px solid #ccc !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice
	{
	margin-top: 4px !important;
	padding: 5px !important;
}

table {
	width: 100%;
	font-size: 13px;
	border: 1px solid #eaeaea;
	table-layout: fixed;
	background: #FFF;
	padding: 5px 20px 20px 5px;
	border-collapse: collapse;
}

tr {
	border-bottom: 1px solid #eaeaea;
}

tr.clickable-row {
	cursor: pointer;
}

table td {
	border-bottom: #fbfbfb 1px solid;
	padding: 10px 30px;
}

td a, td a:visited {
	color: #191919;
	text-decoration: underline;
	/*padding: 0px 0px 0px 15px;*/
}

table tr:hover {
	background-color: #f0f0f0;
}

table.order-list td {
	border-bottom: #f2f0f0 1px solid;
	border-bottom-width: thin !important;
	padding: 20px 35px;
	background: #FFF;
}

.input {
	border: 1px solid #ccc;
	border-radius: 3px;
	padding: 6px;
	width: 250px;
	background-color: #fff;
	color: #191919;
}

.mb-10 {
	margin-bottom: 10px;
}

.cursor-pointer {
	cursor: pointer;
}

h1.header-title {
	font-size: 1.1em;
	display: inline-block;
	padding: 10px 5px 0px 5px;
	float: left;
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	color: #666666;
	font-weight: bold;
	letter-spacing: .01rem;
	margin: 0;
}

input[type="checkbox"] {
	width: auto;
}

a img {
	border: none;
	cursor: pointer;
}

img {
	border: 0;
	height: auto;
	max-width: 100%;
	vertical-align: middle;
}

input:-webkit-autofill {
	-webkit-box-shadow: 0 0 0px 1000px #fff inset;
}

/** Success and error message display starts ************/
.success {
	color: #00883a;
}

.error {
	color: #D8000C;
}

.display-message-foundation {
	margin: 10px 0;
	padding: 10px;
	border-radius: 3px;
	opacity: 0.83;
	transition: opacity 0.6s;
}

.show {
	visibility: visible;
	opacity: 1;
	transition: opacity 2s linear;
}

.display-success {
	color: #00883a;
	background-color: #aef1ca;
	border: 1px solid #9fdeb9;
}

.display-success:before {
	content: '\2714';
	padding: 0 10px;
}

.display-error {
	color: #D8000C;
	background-color: #f5d7d4;
	border: 1px solid #f2ccc7;
	opacity: 0.83;
	transition: opacity 0.6s;
}

.display-error:before {
	content: '\2716';
	padding: 0 10px;
}

.btn-message-close {
	margin-left: 15px;
	color: #888;
	font-weight: bold;
	float: right;
	font-size: 22px;
	line-height: 20px;
	cursor: pointer;
	transition: 0.3s;
}

.btn-message-close:hover {
	color: black;
}
/** Success and error message display ends ************/
h1 {
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	color: #434a54;
	font-weight: normal;
	font-weight: 400;
	letter-spacing: .05rem;
	margin: 0;
	line-height: normal;
}

a, a:visited {
	color: #191919;
}

/* form */
.frm-container {
	background: #FFF;
	border: 1px solid #eceef1;
	padding: 20px 40px;
	max-width: 650px;
	margin: 0px 0px 40px 0px;
	border-radius: 3px;
}

.row {
	margin: 15px 0;
	display: flex;
}

.label {
	margin-bottom: 2px;
	color: #797979;
}

.border-radius {
	border-radius: 3px;
}

.col {
	display: inline-block;
}

select {
	padding: 7px;
	background-color: #fff;
	color: #191919;
	border: 1px solid #ccc;
	border-radius: 3px;
	box-sizing: content-box;
	width: 210px;
}

input[type="file"] {
	padding-left: 0px;
	background-color: #fff;
	color: #191919;
	border: 1px solid #ccc;
}

input#search {
	background: #9ecfff url(../view/img/icon-btn-search.png);
	background-position: 25px 9px;
	background-repeat: no-repeat;
}

input#reset {
	background-color: #F0F0F0;
}

.action-button {
	float: right;
}

div#filter input#search {
	background: #9ecfff;
	color: #132c40;
	width: 100px;
	border: 1px solid #95c3f1;
	cursor: pointer;
}

div#filter input#search:hover {
	background: #45c3a3;
	color: #FFF;
}

div#filter button.btn-cancel {
	background: transparent;
	color: #bdbdbd;
	width: 100px;
	border: 1px solid #bdbdbd;
	cursor: pointer;
	border-radius: 3px;
	padding: 6px;
}

div#filter button.btn-cancel:hover {
	background: #bdbdbd;
	color: #FFF;
}
/* form ends*/
.pagination input[name=page] {
	padding: 10px 15px;
	background: #F0F0F0;
	color: #191919;
	border: #E4E4E4 1px solid;
	margin: 0px 5px;
	width: auto;
	cursor: pointer;
}

.pagination input[name=page]:disabled {
	background: #9ecfff;
	border-color: #9ecfff;
	color: #191919;
	cursor: auto;
}

a.action, a.action:visited {
	padding: 6px 5px 6px 5px;
	cursor: pointer;
	color: #0ccaa0;
	font-weight: 500;
	letter-spacing: .5px;
	-webkit-transition: all .1s linear;
	-webkit-user-select: none;
	-moz-transition: all .1s linear;
	-o-transition: all .1s linear;
	-ms-transition: all .1s linear;
	transition: all .1s linear;
	text-decoration: none;
	text-transform: uppercase;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
	border: 1px solid #0ccaa0;
	border-radius: 3px;
	min-width: 90px;
	display: block;
	text-align: center;
	background: transparent;
	font-weight: bold;
	margin: 0px 0px 0px 10px;
	font-size: .9em;
}

a.action:hover {
	background-color: #0ccaa0;
	text-decoration: none;
	color: #f5f7fa;
}

button.btn.theme-color:hover {
	background-color: #48cfad;
	outline: none;
	border: 1px solid #45c3a3;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0px;
	/*   min-width: 10em;*/
}

::placeholder {
	color: #c0c0c0;
}

.bread-crumb {
	overflow: auto;
	padding: 20px 0 20px 0;
	display: inline-block
}

.bread-crumb span, .bread-crumb a {
	font-size: .9em;
	display: inline-block;
	padding: 5px 5px 5px 0px;
	float: left;
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	color: #666666;
	font-weight: bold;
	letter-spacing: .01rem;
	margin-right: 0;
}

.bread-crumb span.sep {
	font-size: 1em;
	font-family: sans-serif;
	font-weight: normal;
	color: #666666;
	margin: 0 5px;
}

.bread-crumb span {
	color: #666666;
	font-weight: normal;
}

.input-right-margin {
	margin-right: 30px;
}

.box-margin {
	margin-bottom: 12px;
}

.pad-cus-edit-btn {
	padding: 30px 0px 0px 0px;
}
a.label-click:visited {
    color: #0cb1f5;
}
@media screen and (max-width: 490px) {
	input {
		width: 175px;
	}
	.box-padding {
		padding: 10px 0px;
	}
	.pad-export-add {
		padding: 15px 0px;
	}
	select[class=input-box-330] {
		width: 140px;
	}
	.input-box-330 {
        width: 160px;
    }
}

@media screen and (max-width: 635px) {
	.del-res {
		display: none;
	}
	.row.content-res {
		margin: unset;
		display: unset;
	}
	.display-unset {
		display: unset !important;
	}
}

.right-margin {
	margin-right: 3px;
}