/************************** HEADER STARTS */
.header-foundation {
	top: 0;
	position: fixed;
	z-index: 10;
}

#header {
	background-color: #cdd3d8;
	color: #434a54;
	padding: 15px 0px;
	height: 60px;
}

.txtlogo {
	margin-right: 20px;
}

#header-right-menu {
	float: right;
	margin-top: 5px;
}

ul.main-menu {
	display: -webkit-inline-box;
	margin-left: 20px;
}

.sub-header {
	background-color: #FFF;
	border-bottom: #eceef1 1px solid;
	padding: 10px 0px;
}

.admin-sub-header {
	background-color: #FFF;
	border-bottom: #eceef1 1px solid;
	padding: 10px 0px;
}

.page-heading {
	color: #666666;
	font-weight: bold;
	letter-spacing: .05rem;
	text-transform: uppercase;
	font-size: 1.2em;
	display: inline-block;
}

.sub-header a {
	color: #666;
}

.sub-header  .header-width {
	text-align: left;
}

.sub-header-padding {
	padding: 10px 20px;
}

.public-content-width .sub-header-padding {
	padding: 15px 0px;
}

.signup {
	border-radius: 3px;
	padding: 6px 28px;
	border: 1px solid;
}

.signup:hover {
	color: #fff;
	background-color: #0ccaa0;
	border-color: #0ccaa0;
}

.login {
	margin: 5px 10px 10px 10px;
}

.dropbtn {
	color: #dcdcdc;
	border: none;
	cursor: pointer;
}

.dropdown .dropdownNav .dropdownNavTitle {
	padding: 0 20px 10px;
	border-bottom: 1px solid #ebebeb;
	font-size: 15px;
	line-height: 1.2;
	color: #fc801c;
	font-weight: 600;
	text-transform: capitalize;
}

.header-font {
	color: #baccc8;
}

.right-dropdown {
	position: relative;
	display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.right-dropdown-content {
	display: none;
	position: absolute;
	background-color: #f5f7fa;
	min-width: 160px;
	box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
	text-align: left;
	border-radius: 3px;
	right: 0;
}

/* Links inside the dropdown */
.right-dropdown-content a {
	color: #434a54;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}
/************************** HEADER ENDS */

/********** HEADER ADMIN */
.content-margin {
	margin: 0 20px;
}

.color-white {
	color: #fff;
}

#mat-add-btn {
	margin-right: 30px;
}

a.cg-wt {
	color: #baccc8 !important;
	font-weight: bold;
	padding-right: 15px;
	text-transform: capitalize;
}

.mat-btn {
	width: 25px;
	height: 25px;
	border-radius: 50%;
	padding: 0px 0 0 0;
	text-align: center;
	text-transform: uppercase;
	overflow: hidden;
	box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.05), 0 1px 10px 0
		rgba(0, 0, 0, 0.05), 0 2px 5px -1px rgba(0, 0, 0, 0.2);
	display: inline-block;
	outline: none;
	color: white;
	background-color: #36b38f;
	min-width: 0;
	font-size: 2em;
	cursor: pointer;
	vertical-align: middle;
	line-height: 26px;
}

.profile-image {
	vertical-align: middle;
	border-radius: 50%;
	/*width: 28px;
	height: 28px;*/
	display: inline-block;
}
/* Change color of dropdown links on hover */
.right-dropdown-content a:hover {
	background-color: #0ccaa0;
	color: white;
}

.products {
	position: relative;
	display: inline-block;
	z-index: 2;
}

.products:hover>ul {
	display: block;
	position: absolute;
}

.products li:hover {
	background-color: #d6d6d6;
}

.category {
	display: none;
	background-color: #f5f7fa;
	min-width: 10em;
}

.category li {
	background-color: #f5f7fa;
	padding: 10px 5px;
	box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
	width: 100%;
}
/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.right-show {
	display: block;
}

ul ul.menu-level2 {
	left: -100%;
	top: 0;
}

ul ul.menu-level1 {
	right: 0;
}

.font-color {
	font-weight: normal;
	color: #434a54;
	text-align: left;
	padding: 5px 10px;
}

.font-color:hover {
	color: #434a54;
}

.expand {
	font-size: 12px;
	float: right;
	margin-right: 5px;
}

.product-label, .product-label:visited {
	color: #baccc8 !important;
}

ul.main-menu .main-menu-item {
	position: relative;
	margin-bottom: 0px;
    margin-left: 12px;
	display: inline-block;
}

.header-icon {
	width: 24px;
	height: 24px;
	margin-right: 16px;
}

#icon-menu-expand {
	display: none;
}
/*commanted for testing and header alignment*/
ul.main-menu .main-menu-item.user-icon {
	/*margin-top: 8px;*/
	
}

.main-menu-item a,.main-menu-item a:visited {
	color: #797979;
}

li.main-menu-item.products.dropbtn.cursor-pointer.md-0 {
	margin-top: 0px;
}

ul.main-menu1 {
	min-width: 0px;
	display: -webkit-inline-box;
	display: inline-block;
}

.sub-header-menu {
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	color: #666666;
	font-weight: bold;
	margin-top: 4px;
	text-transform: uppercase;
}

.sub-header-menu a, .sub-header-menu a:visited {
	color: #0cb1f5;
}

.header-search form {
	margin: 0;
}

.search-input {
	padding: 8px;
	border: 1px solid #acb1ae;
	border-radius: 3px;
	width: 300px;
	background-color: #fff;
	color: #191919;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}
img.admin-logo {
    width: 150px;
    height: 30px;
}

@media screen and (max-width: 1200px) {
	.search-input {
		width: 150px;
	}
	.right-dropdown-content {
		position: fixed;
	}
	.login {
		margin-right: 20px;
	}
}

@media screen and (max-width: 845px) {
	ul.main-menu {
		margin: 20px 0px 0px 0px;
		display: none;
		position: absolute;
		width: 100%;
		left: 0px;
		right: 0px;
		top: 40px;
	}
	ul.main-menu .main-menu-item {
		display: block;
		margin: 0;
		background: #ffffff;
		text-align: left;
		padding: 15px;
		border-top: #e8e8e8 1px solid;
	}
	ul.main-menu .main-menu-item.user-icon {
		margin: 0;
	}
	.signup {
		padding: 0px;
		margin: 0px;
		border: 0px;
	}
	#icon-menu-expand {
		display: inline-block;
	}
	.products:hover>ul.sub-menu {
		position: relative;
	}
	.category li {
		background-color: #ffffff;
		box-shadow: none;
	}
	.products li:hover {
		background-color: #ffffff;
		color: #142c40;
	}
	.product-label, .product-label:visited {
		color: #142c40 !important;
	}
	.header-font {
		color: #142c40;
	}
	#header-right-menu {
	margin-top:0px;
	}
	.signup:hover {
		color: #142c40;
		background-color: #FFF;
		border-color: #FFFF;
	}
	
	.right-dropdown-content {
		position:relative;
    		background-color: unset;
    		box-shadow: none;
	}
	.right-dropdown-content a:hover {
		background-color: #FFF;
		color:#000;
	}
	
	a.cg-wt {
		color: #132d40 !important;
	}
	.main-menu-item a {
	    color: #132d40;
	}
	ul ul.menu-level2 {
		left: unset;
		top: unset;
	}
	ul ul.menu-level2 {
		left: unset;
		top: unset;
	}
}

@media screen and (max-width: 635px) {
	div.sub-header-menu {
		display: none;
	}
	
	.search-input {
		border-radius: 4px;
		width:80px;
	}
	a.txtlogo img {
		width: 100px;
	}
}

@media screen and (max-width: 400px) {
	.login {
		margin-right: 10px;
	}
}

#main-menu .admin-text-menu {
	vertical-align: middle;
}
/*************** HEADER ADMIN ENDS */