body {
    font-family: Arial;
    font-size: .9em;
    margin: 0;
    padding: 0;
    color: #1c1f21;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

input {
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 7px;
    width: 250px;
    background-color: #fff;
    color: #191919;
}

input[type=submit] {
    transition: all 0.3s ease 0s;
}

input[type=submit]:focus, input[type=submit]:hover {
    background-color: #48cfad;
    outline: none;
    border: 1px solid #45c3a3;
}

input[type="radio"] {
    width: 15px;
}

span.btn.theme-color:hover {
    background-color: #48cfad;
    outline: none;
    border: 1px solid #45c3a3;
}

textarea:focus, input[type=text]:focus, input[type=password]:focus {
    outline: none;
    border: 1px solid #48cfad;
    -moz-box-shadow: 0 0 0 1000px #fff inset;
    box-shadow: 0 0 0 1000px #fff inset;
}

textarea {
    padding: 10px 8px;
    width: 100%;
    background-color: #fff;
    color: #191919;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

.inline-block {
    display: inline-block;
}

.display-block {
    display: block;
}

a {
    text-decoration: none;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.float-clear {
    clear: both;
}

.text-center {
    text-align: center;
}

.margin-zero-auto {
    margin: 0 auto;
}

.btn {
    padding: 10px 30px 10px 30px;
    cursor: pointer;
    color: #282B2D;
    border: 1px solid;
    border-color: #0cb1f5;
    text-decoration: none;
    margin-right: 4px;
    text-align: center;
    border-radius: 3px;
}

.theme-color {
    background-color: #0cb1f5;
    color: #f5f7fa;
}

.cursor-pointer {
    cursor: pointer;
}

h1.header-title {
    font-size: 1.1em;
    display: inline-block;
    padding: 10px 5px 0px 5px;
    float: left;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    color: #666666;
    font-weight: bold;
    letter-spacing: .01rem;
    margin: 0;
}

img {
    border: 0;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}

/** Success and error message display starts ************/
.success {
    color: #00883a;
}

.error {
    color: #D8000C;
}

.display-message-foundation {
    margin: 10px 0;
    padding: 10px;
    border-radius: 3px;
    opacity: 0.83;
    transition: opacity 0.6s;
}

.show {
    visibility: visible;
    opacity: 1;
    transition: opacity 2s linear;
}

.display-success {
    color: #00883a;
    background-color: #aef1ca;
    border: 1px solid #9fdeb9;
}

.display-success:before {
    content: '\2714';
    padding: 0 10px;
}

.display-error {
    color: #D8000C;
    background-color: #f5d7d4;
    border: 1px solid #f2ccc7;
    opacity: 0.83;
    transition: opacity 0.6s;
}

.display-error:before {
    content: '\2716';
    padding: 0 10px;
}

.btn-message-close {
    margin-left: 15px;
    color: #888;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.btn-message-close:hover {
    color: black;
}
/** Success and error message display ends ************/

/* form */
.frm-container {
    background: #FFF;
    border: 1px solid #eceef1;
    padding: 20px 40px;
    max-width: 650px;
    margin: 0px 0px 40px 0px;
    border-radius: 3px;
}

.row {
    margin: 15px 0;
    display: flex;
}

.label {
    margin-bottom: 2px;
    color: #797979;
}

.border-radius {
    border-radius: 3px;
}

.col {
    display: inline-block;
}
/* form ends*/
/************************* LAYOUT STARTS */
.content-foundation {
	margin-top: 100px;
}
.full-width {
	width: 100%;
	box-sizing: border-box;
}
.layout-width {
    width: 1150px;	
    margin: 0 auto;    
}
#wrapper {
	position: relative;
}
/************************* LAYOUT ENDS */

@media screen and (max-width: 1200px) {
	.layout-width {
	    width: 95%;   
	}	

}

@media screen and (max-width: 490px) {
    input {
        width: 175px;
    }
    .input-box-330 {
        width: 160px;
    }
}

/************************** HEADER STARTS */
.header-foundation {
	top: 0;
	position: fixed;
	z-index: 10;
}

#header {
	background-color: #cdd3d8;
	padding: 15px 0px;
	height: 60px;
}

#header-right-menu {
	float: right;
	margin-top: 5px;
}

.sub-header {
	background-color: #FFF;
	border-bottom: #eceef1 1px solid;
	padding: 10px 0px;
}

.page-heading {
	color: #666666;
	font-weight: bold;
	letter-spacing: .05rem;
	text-transform: uppercase;
	font-size: 1.2em;
	display: inline-block;
}

.sub-header a {
	color: #666;
}

.sub-header-padding {
	padding: 10px 20px;
}

.signup {
	border-radius: 3px;
	padding: 6px 28px;
	border: 1px solid;
}

.signup:hover {
	color: #fff;
	background-color: #0ccaa0;
	border-color: #0ccaa0;
}

/************************** HEADER ENDS */
#footer {
    border-top: 1px solid #e0e0e0;
    margin-top: 40px;
	padding: 10px 0 20px 0;
	text-align: center;
}

.welcome-desc {
    line-height: 1.93;
    color: #555;
}

.welcome-panel {
    padding: 50px 0;
    text-align: center;
    background-color: #fff;
}